body{
  margin: 0px;
}
.sidebar{
  background-color: #233646;
  width: 15%;
  height: 675px;
  float: left;
  position: fixed;
  box-shadow: 2px 0 5px -2px #888
}
.profil{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.profil span{
  color: white;
}
.profil img{
    width: 140px;
    height: auto;
    border-radius: 50%;
}
li a:hover{
  background-color: #385166;
}
.container{
  width: 85%;
  height: 800px;
  float: right;
}
.top{
  width: 85%;
  display: block;
  height: 60px;
  background-color:#1f3e59 !important;
  position: fixed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);

}
a{
  text-decoration: none;
}
.log{
  width: 90px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 14px;

}
ul{
  margin: 0px;
  padding-left: 0px;
}
li{
  margin-top: 0px;
  list-style: none;
}
li a {
  color:  white;
  display: block;
  padding: 14px 20px 14px 25px;
  font-size: 20px;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular.ttf);
}
*{  font-family:'Roboto Regular';}
.top a{
  font-size: 25px;
  color: white;
}
.asd{
  width: 100%;
  height: 200px;
  padding-top: 25px;
  background-image: url('../img/header-profile.png');
  background-repeat: no-repeat;
}
.content{
  padding-top: 10px;
  margin-top: 40px;
  width: 100%;
  height: 740px;
}
.content a{
  color: black;
}
.content a:hover{
  color: red;
}
th.no{
  width: 5px;
}
th.Judul, th.Gambar{
  width: 20%;
}
th.opsi{
  width: 10%
}
td:nth-child(n+5){
  text-align: center;
}
td:nth-child(4) a{
  display: inline;
}
th.ringkasan{
  width: 45%;
}
th{
  background: #14489b;
  color: white;
}
td{
  border: 0px;
}
td, th{
  padding: 6px 3px;
}
.content table{
  margin: 10px;
  border-bottom: 1px solid grey;
}
.form{
  width: 90%;
  margin-top: 5px;
  padding: 5%;
  height: 500px;
}
.detail{
  margin-top: -20px;
  padding: 20px;
}
.detail .img{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
figcaption{
  display: block;
  text-align: center;
  background-color: #494949;
  padding-top: 4px;
  margin-top: -4px;
  height: 30px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.img img{
    width: 100%;
    height: auto;
}
.judul1 h1{
  text-align: left;
}
.form-group{
  width: 100%;
  display: inline-block;
  height: auto;
  padding-top: 5px;
  margin-bottom: 10px;
}
.form-group label{
  width: 10%;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}
.btn{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-right: 80px;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.form-group input, textarea {
  width: 70%;
  font-size: 20px;
  padding: 6px 20px;
  float: right;
  margin-right: 50px;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
table{
  border-collapse: collapse;
}
tr:nth-child(even){background-color: #f2f2f2}
