body{
  margin: 0px;
  background-image:url('../img/index.png');
  overflow: hidden;
}
*{
  font-family: 'Roboto Regular';
}
html{
  height: 100%;
}
.form-group{
  width: 100%;
  display: inline-block;
  height: auto;
  padding-top: 5px;
  margin-bottom: 10px;
}
.form-group label{
  width: 10%;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}
.form-group input{
  width: 60%;
  font-size: 20px;
  padding: 6px 20px;
  float: right;
  background: transparent;
  margin-right: 50px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  transition: border-bottom 0.4s;
}
input:focus{
  border: none;
  outline:none;
  border-bottom: 2px solid white;
}
.container{
  background-color: rgba(0, 0, 0 , 0.3);
  width: 100%;
  padding-top: 100px;
  height: 667px;
}@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular.ttf);
}
h1{
  text-align: center;
  font-size: 50px;
}
.content{
  width: 50%;
  height: 367px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(210,210,210,0.9);
  border-radius: 10px;
}
.btn{
    background-color: #ff1c1c;
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #ff1c1c;
}
