@font-face {
  font-family: 'Roboto Regular';
  src: url(fonts/Roboto-Regular.ttf);
}
body{
  font-family:'Roboto Regular';
  background-image: url('../img/BG.png');
  margin: 0px;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.nav{
  position: fixed;
  height: 52px;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: red;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.navbar {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.navbar ul li{
  list-style: none;
  display: inline;
  text-align: center;
}
ul li a{
  color: white;
}
.left ul{
  margin-top: -1px;
  margin-left: -45px;
}
.left{
  float: left;
}
.left li{
  margin-right: 10px;
}
.right{
  margin-right: 18px;
  float: right;
}
input[type="search"]{
  background-color: red;
  border: none;
  font-size: 18px;
  border-style: none;
  padding: 3px 10px;
  width: 75px;
  transition: width 0.4s ease-in-out;
  border: none;
  border-style: none;
}
input[type="search"]:hover{
  cursor: pointer;
}
input[type="search"]:focus{
  width: 250px;
  background-color: white;
  box-sizing: border-box;
  color: red;
  border: none;
  border-style: none;
  font-size: 18px;
}
::placeholder{
  color: white;
  font-family:'Roboto Regular';
  font-size: 18px;
  font-weight: bold;
}
input[type="search"]:{
  border: 0px;
}

a{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.blast-rink a {
  color: red;
}
.content .section a{
  font-size: 20px;
  margin-right: 5px;
  color: white;
  margin-left: 5px;
}
.berita-full .img, figure img{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
figcaption{
  display: block;
  text-align: center;
  background-color: #494949;
  padding-top: 4px;
  margin-top: -4px;
  height: 30px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#myBtn{
  display: block;
  position: fixed;
  text-decoration:none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555; -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

  /* WebKit and Opera browsers */ @-webkit-keyframes spinner {
    from
    {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
} /* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to
    {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);

    }
}
.berita-full .isi a{
  color: red;
}
.berita-full{
  width:98%;
  padding: 15px;
}
*{
  font-family:'Roboto Regular';
}
.navbar li a:hover{
  background-color: maroon;
}
.navbar li:first-child a:hover{
  background-color: red;
}
.navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li:first-child a{
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}
.navbar li{
  float: left;
}
img.logo{
width: auto;
height: 55px;
vertical-align: middle;
}
.clearfix{
  clear: both;
}
.paging{
  margin-top: 10px;
  text-align: center;
}
.paging a{
  color: red;
  font-size: 25px;
}
.blast-from{
  width: 100%;
  height: 250px;
  margin: 10px;
}
.blast-img{
  filter: grayscale(75%);
  width: 240px;
  height: 136px;
}
.blast-rink{
  height: 164px;
}
.blast-img img{
  width: 100%;
  height: auto;
}
.blast-berita{
  display: inline-block;
  height: 300px !important;
  width: 30% !important;

}
.container{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top-left-radius: 10px;
  border-top-right-radius:  10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 1300px;
  background-color: white;
  margin-top: 60px;
}
.section{
  width: 100%;
  height: 30px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 25px;
}
.content .section{
    padding-left: 15px;
}
.sidebar .section{
  margin-left: -11px;
  padding-left: 25px;
  width: 240px;
  border-top-right-radius: 10px;
}
.ringkasan{
  width: 520px;
  height: 135px;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bingkai{
    width: 240px;
    height: 135px;
    float: left;
    margin-right: 10px;
}
.bingkai img{
  width: 240px;
  height: 135px;

}
.berita{
  border-bottom: 1px solid grey;
  padding: 12px;
  height: 125px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 97%;
  padding-bottom: 20px;

}
.berita p {
  margin-top: 5px;
  font-size: 14px;
}
.ringkasan p a{
  font-size: 14px;
  color: red;
}
.content a:hover{
  color: maroon;
}
.berita a span{
  font-size: 20px;
  color: red;
}
.berita a span:hover{
  color: maroon;
}
.berita h5{
  margin-top: -10px;
  font-size: 12px;
}
footer{
  text-align: center;
  font-size: 15px;
  height: 15px;
  width: 100%;
  padding: 5px;
  background-color: white;
  border-top: 5px solid red;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.paging a:first-child{
  color: Black;
}
.content{
  overflow: hidden;
  border-top-left-radius:  10px;
  width: 75%;
  margin: 0px;
  height: inherit;
  float: left;
}
.sidebar{
  width: 24%;
  border-left: 5px solid maroon;
  float: right;
  height: inherit;
  margin: 0px;
  border-top-right-radius:  10px;

}
a:hover{
  text-shadow: 1px 1px 2px maroon;
}
.artikel-sidebar{
  margin-top: 10px;
  width: 100%;
}
.section.last{
  margin-top: 20px;
  border-radius:0;
  padding-left:14px;
  margin-left:0px;
}
.row{
  margin-right: 5px;
  margin-left: -15px;
}
.row a{
  color: red;
  font-size: 15px;
}
.row li{
  margin-bottom: 4px;
  /* border-bottom: 1px solid grey; */
}
